*{
    margin: 0;
    padding:0;
}
a:hover{
    background-color: aliceblue;
}
h2{
    position:absolute;
   left:470px;
   top:30px;
   font-size: 29px;

}
body{
    background-color: red;
    overflow: hidden;
}
.gameContainer{
    background-image: url(school.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
    opacity: 0.88;
}
/*.diary img{
    position: absolute;
    bottom: 20px;
    left: 200px;
    width: 900px;
    height: 510px;
    
    

}*/
.table{
    height: 347px;
    width: 300px;
    /* background-color: antiquewhite; */
    margin-left: 515px;
   
   
}

.button2{
    /* margin: 120px 0px 0px 450px; */
    font-size: 170%;
    font-weight: bolder;
   border: 3px solid;
    border-color: brown;
    border-radius: 6px; 
    padding: 10px;  
    text-align: center;
    

   
} 
.button3{
    /* margin: 120px 0px 0px 450px; */
    font-size: 170%;
    font-weight: bolder;
   border: 3px solid;
    border-color: brown;
    border-radius: 6px; 
    padding: 10px;  
    text-align: center;
    

   
}
.button1{
    border:3px solid ;
    font-size: 20px;
    padding: 3px 18px 3px 16px;
    border-radius: 6px;
    position: absolute;
    left:1150px;
    bottom: 330px;
    
   
    
}
.button2:active{
    background-color: green;
}
.button1 a{
    text-decoration: none;
    color: black;
   
}
.button1 a{
    text-decoration: none;
    color: black;
   
}
.button3:active{
    background-color: rgb(250, 95, 56);
}
.dino{
    background-image: url(dino.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 190px;
    height: 250px;
    position: absolute;
    bottom: 75px;
    left: 250px;
}


.obstacle{
    width: 300px;
    height: 350px;
    background-image: url(dragon.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 65vw;
}

.animateDino{
    animation: dino 0.6s linear;
}

.obstacleAni{
    animation: obstacleAni 0.6s linear;
}

.gameOver{
    position: relative;
    top:63px;
    font-size: 53px;
    text-align: center; 
    font-family: 'Ubuntu', sans-serif;
}
.cld{
    position: relative;
    right: 90px;
    top: -35px;
    width: 400px;
}
h5 {
    position: relative;
    top:-280px;
    left: 415px;
    font-size: 23px;
    color: rgb(31, 96, 177);
    font-weight: bolder;
}


/* #scoreCont{
    font-size: 25px;
    color: #54212f;
    font-weight: bold;
    position: absolute;
    right: 45px;
    top: 31px;
    border: 2px solid black;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
} */

/*
@keyframes dino{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 422px;
    }
    100%{
        bottom: 0; 
    }
}

@keyframes obstacleAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}*/